.FormBox {
  text-align: center;
  background: #f2f2f2;
  box-shadow: -1px -3px 79px #20212c;
  border-radius: 15px;
  margin: 8vh 0;
  color: #61568c;
  font: normal normal normal 1rem Roboto;
}

.frm-h1-text {
  font: normal normal bold 1.9rem Roboto;
  letter-spacing: 0px;
  color: #61568c;
}

.frm-h2-text {
  font: normal normal normal 0.8rem Roboto;
  letter-spacing: 0px;
  color: #61568c;
}

.frm-label {
  font: normal bold normal 0.8rem Roboto;
  letter-spacing: 0px;
  color: #61568c;
  text-align: right;
  margin: auto;
}
