.d-btn-h1-text {
  text-align: center;
  font-family: Roboto;
  font-weight: bold;
  letter-spacing: 0px;
  color: #61568c;
  font-size: 1.1rem;
}

.d-btn-h2-text {
  text-align: center;
  font-family: Roboto;
  font-weight: normal;
  letter-spacing: 0px;
  color: #61568c;
  font-size: 0.7rem;
}

.d-btn.btn {
  background-color: #f2ae72;
  border-color: transparent;
  border-radius: 10px;
  width: 40%;
  min-width: 9vw;
}

.d-btn.btn:hover {
  background-color: #f28177;
  border-color: transparent;
}

.o-btn.btn {
  border-radius: 10px;
  width: 40%;
  min-width: 7vw;
}

.o-btn-h1-text {
  text-align: center;
  font-family: Roboto;
  font-weight: normal;
  letter-spacing: 0px;
  color: #61568c;
  font-size: 0.7rem;
}

.o-btn-h2-text {
  text-align: center;
  font-family: Roboto;
  font-weight: normal;
  letter-spacing: 0px;
  color: #61568c;
  font-size: 0.5rem;
}

.d-btn.btn:focus,
.d-btn.btn:active,
.d-btn.btn-primary:not(:disabled):not(.disabled).active,
.d-btn.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #f28177;
  border-color: transparent;
}
