/* html { */
/* background: #f0f2f1 0% 0% no-repeat;
  opacity: 1;
  min-height: 100vh;
  width: auto;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
#root {
  min-height: 100vh;
  background: #f0f2f1 0% 0% no-repeat;
} */
